@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.bg {
  @include applyViewTypes();
}

@each $align in left, center, right, justify {
  @include alignText($align);
}

@for $i from 1 through 6 {
  .px-#{$i} {
    padding-left: 0.3rem * $i;
    padding-right: 0.3rem * $i
  }
  .py-#{$i} {
    padding-top: 0.3rem * $i;
    padding-bottom: 0.3rem * $i;
  }
  .mt-#{$i} {
    margin-top: 0.3rem * $i;
  }
  .mb-#{$i} {
    margin-bottom: 0.3rem * $i
  }

}

