@import '../../assets/styles/variables.scss';
.container, .container-fluid {
  width: $full-width;
  padding-left: $primary-horizontal-indention;
  padding-right: $primary-horizontal-indention;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media (min-width: $break-sm) {
  .container {
    max-width: $container-max-width-sm;
  }
}

@media (min-width: $break-md) {
  .container {
    max-width: $container-max-width-md;
  }
}

@media (min-width: $break-lg) {
  .container {
    max-width: $container-max-width-lg;
  }
}

@media (min-width: $break-xl) {
  .container {
    max-width: $container-max-width-xl;
  }
}