@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap&subset=cyrillic');

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
