//break-points
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

//sizes
$full-width: 100%;
$container-max-width-xl: 1140px;
$container-max-width-lg: 960px;
$container-max-width-md: 720px;
$container-max-width-sm: 540px;
$primary-horizontal-indention: 15px;


//colors
$primary: #2E7FF7;
$success: #53A351;
$info: #4AA0B5;
$danger: #E04A4A;
$secondary: #6E757C;
$dark: #353A40;
$warning: #F7C244;
$light: #F8F9FA;