@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

$tick-color: #2C8907;
$cross-color: #CF242C;
$switched-on-background: #C6FF50;
$switched-off-background: #FFA7A7;
$disabled-icon-color: #777;
$disabled-background: #CECECE;

.switcher {
  width: 70px;
  height: 26px;
  top: 4px;
  position: relative;
  display: inline-block;
  &__checkbox {
    display: none;
  }
  
  &__status {
    position: absolute;
    top: 4px;
    left: 10px;
    display: block;
    border-radius: 15px;
    background-color: $switched-off-background;
    height: 22px;
    width: 50px;
    @include boxSizingBorderBox();
    @include applyBoxShadow(inset -8px 16px 3px -15px rgba(0,0,0,0.32));
    border: 1px inset rgba(0,0,0,0.32);
    &::before {
      display: block;
      content: ' ';
      position: absolute;
      width: 50px;
      height: 22px;
    }
    &__on {
      position: absolute;
      left: 6px;
      top: 8.5px;
      background-color: $tick-color;
      width: 3px;
      height: 6px;
      transform: rotate(-45deg);
      display: block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      &::before {
        content: ' ';
        display: block;
        width: 3px;
        height: 11px;
        transform: rotate(95deg);
        background-color: $tick-color;
        position: absolute;
        left: 4px;
      }
    }
    &__off {
      position: absolute;
      right: 10px;
      top: 5.5px;
      background-color: $cross-color;
      font-weight: bold;
      display: block;
      width: 3px;
      height: 10px;
      transform: rotate(45deg);
      &::before {
        content: ' ';
        display: block;
        transform: rotate(90deg);
        width: 3px;
        height: 10px;
        position: absolute;
        background-color: $cross-color;
      }
    }
    &__main {
      display: block;
      position: absolute;
      top: -4px;
      left: -5px;
      height: 22px;
      width: 34px;
      border-bottom: 3px outset #C0C0C0;
      background-image: linear-gradient(to right, #EFEFEF, #D3CFD0, #EFEFEF);
      border-radius: 20px;
      transition: 0.2s;
    }
    &__main::before {
      background-color: #EFEFEF;
      position: absolute;
      content: ' ';
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 4px;
      left: 15px;
    }
  }
  &__checkbox:checked + &__status {
    background-color: $switched-on-background;
  }
  &__checkbox:checked + &__status &__status__main {
    transform: translateX(24px);
    transition: 0.2s;
  }
  &__checkbox:disabled + &__status &__status__main {
    background-image: linear-gradient(to right, #DDD, #DEDEDE, #DDD);
  }
  &__checkbox:disabled + &__status {
    background-color: $disabled-background;
    
  }
  &__checkbox:disabled + &__status &__status__on, &__checkbox:disabled + &__status &__status__off {
    background-color: $disabled-icon-color;
    &::before {
      background-color: $disabled-icon-color;
    }
  }
}

