@import "../../assets/styles/variables";

.switcher {
  width: 70px;
  height: 30px;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
  &__checkbox {
    display: none;
  }
  &__status {
    position: absolute;
    top: 4px;
    left: 10px;
    display: block;
    border-radius: 15px;
    background-color: #FFA7A7;
    height: 22px;
    width: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: inset -8px 14px 5px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: inset -8px 17px 5px -10px rgba(0,0,0,0.32);
    box-shadow: inset -8px 16px 3px -15px rgba(0,0,0,0.32);
    border: 1px inset rgba(0,0,0,0.32);
    &::before {
      display: block;
      content: ' ';
      position: absolute;
      width: 50px;
      height: 22px;
    }
    &__on {
      position: absolute;
      left: 5px;
      top: 0px;
      color: #2C8907;
      font-size: 14px;
      font-weight: bold;;
      display: block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    &__off {
      position: absolute;
      right: 10px;
      top: 5px;
      background-color: #CF242C;
      font-weight: bold;
      display: block;
      width: 3px;
      height: 10px;
      transform: rotate(45deg);
      &::before {
        content: ' ';
        display: block;
        transform: rotate(90deg);
        width: 3px;
        height: 10px;
        position: absolute;
        background-color: #CF242C;
      }
    }
    &__main {
      display: block;
      position: absolute;
      top: -4px;
      left: -5px;
      height: 22px;
      width: 34px;
      border-bottom: 3px outset #C0C0C0;
      background-image: linear-gradient(to right, #EFEFEF, #D3CFD0, #EFEFEF);
      border-radius: 20px;
      transition: 0.2s;
    }
    &__main::before {
      background-color: #EFEFEF;
      position: absolute;
      content: ' ';
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 4px;
      left: 15px;
    }
  }
  &__checkbox:checked + &__status {
    background-color: #C6FF50;
  }
  &__checkbox:checked + &__status &__status__main {
    transform: translateX(24px);
    transition: 0.2s;
  }
}

